


<form method="get" class="form-inline w-100 justify-content-center" action="/Search">
    <div class="input-group rounded">
    <label for="searchString"> </label>
        <input class="form-control rounded col-lg-8 pt-6" type="search" id="searchString" name="searchString" aria-label="Search" aria-describedby="submit-button" />
        <button class="input-group-text border-0 w-18 btn-primary" type="submit" id="submit-button">Search</button>
  </div>
</form>

 