@{
    ViewData["Title"] = "Home Page";
}

@model Jawahir.ViewModels.HomeViewModel


<style>

    .carousel-item {
        height:20em;

    }

</style>


<div class="row">
    <div class="">
        
    </div>
    <div id="home_carousel" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#home_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#home_carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#home_carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-item active">
                <img src="~/assets/images/camerabkg.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/assets/images/camerabkg.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/assets/images/camerabkg.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#home_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#home_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>


    <span>Check out these products</span>

    <div class="container ">
        <div class="row d-flex justify-content-center">
            @foreach (var product in Model.Products)
            {
                <partial name="_ProductCardView" model="product" />
            }
        </div>
    </div>
